build
devel
logs
install
log
.catkin_tools
.vscode
*.csv
.cache
*.json
__pycache__
cmake_build

package.xml
!src/velodyne_simulator/velodyne_description/package.xml
!src/velodyne_simulator/velodyne_simulator/package.xml
!src/velodyne_simulator/velodyne_gazebo_plugins/package.xml
