<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">

    <ros2_control name="GazeboSystem" type="system">
        <hardware>
            <plugin>gazebo_ros2_control/GazeboSystem</plugin>
        </hardware>

        <joint name="FR_hip_joint">
            <command_interface name="effort">
                <param name="min">-${hip_torque_max}</param>
                <param name="max">${hip_torque_max}</param>
            </command_interface>
            <state_interface name="position"/>
            <state_interface name="velocity"/>
            <state_interface name="effort"/>
        </joint>

        <joint name="FL_hip_joint">
            <command_interface name="effort">
                <param name="min">-${hip_torque_max}</param>
                <param name="max">${hip_torque_max}</param>
            </command_interface>
            <state_interface name="position"/>
            <state_interface name="velocity"/>
            <state_interface name="effort"/>
        </joint>

        <joint name="RR_hip_joint">
            <command_interface name="effort">
                <param name="min">-${hip_torque_max}</param>
                <param name="max">${hip_torque_max}</param>
            </command_interface>
            <state_interface name="position"/>
            <state_interface name="velocity"/>
            <state_interface name="effort"/>
        </joint>

        <joint name="RL_hip_joint">
            <command_interface name="effort">
                <param name="min">-${hip_torque_max}</param>
                <param name="max">${hip_torque_max}</param>
            </command_interface>
            <state_interface name="position"/>
            <state_interface name="velocity"/>
            <state_interface name="effort"/>
        </joint>

        <joint name="FR_thigh_joint">
            <command_interface name="effort">
                <param name="min">-${thigh_torque_max}</param>
                <param name="max">${thigh_torque_max}</param>
            </command_interface>
            <state_interface name="position"/>
            <state_interface name="velocity"/>
            <state_interface name="effort"/>
        </joint>

        <joint name="FL_thigh_joint">
            <command_interface name="effort">
                <param name="min">-${thigh_torque_max}</param>
                <param name="max">${thigh_torque_max}</param>
            </command_interface>
            <state_interface name="position"/>
            <state_interface name="velocity"/>
            <state_interface name="effort"/>
        </joint>

        <joint name="RR_thigh_joint">
            <command_interface name="effort">
                <param name="min">-${thigh_torque_max}</param>
                <param name="max">${thigh_torque_max}</param>
            </command_interface>
            <state_interface name="position"/>
            <state_interface name="velocity"/>
            <state_interface name="effort"/>
        </joint>

        <joint name="RL_thigh_joint">
            <command_interface name="effort">
                <param name="min">-${thigh_torque_max}</param>
                <param name="max">${thigh_torque_max}</param>
            </command_interface>
            <state_interface name="position"/>
            <state_interface name="velocity"/>
            <state_interface name="effort"/>
        </joint>

        <joint name="FR_calf_joint">
            <command_interface name="effort">
                <param name="min">-${calf_torque_max}</param>
                <param name="max">${calf_torque_max}</param>
            </command_interface>
            <state_interface name="position"/>
            <state_interface name="velocity"/>
            <state_interface name="effort"/>
        </joint>

        <joint name="FL_calf_joint">
            <command_interface name="effort">
                <param name="min">-${calf_torque_max}</param>
                <param name="max">${calf_torque_max}</param>
            </command_interface>
            <state_interface name="position"/>
            <state_interface name="velocity"/>
            <state_interface name="effort"/>
        </joint>

        <joint name="RR_calf_joint">
            <command_interface name="effort">
                <param name="min">-${calf_torque_max}</param>
                <param name="max">${calf_torque_max}</param>
            </command_interface>
            <state_interface name="position"/>
            <state_interface name="velocity"/>
            <state_interface name="effort"/>
        </joint>

        <joint name="RL_calf_joint">
            <command_interface name="effort">
                <param name="min">-${calf_torque_max}</param>
                <param name="max">${calf_torque_max}</param>
            </command_interface>
            <state_interface name="position"/>
            <state_interface name="velocity"/>
            <state_interface name="effort"/>
        </joint>

    </ros2_control>

    <gazebo>
        <plugin name="gazebo_ros2_control" filename="libgazebo_ros2_control.so">
            <parameters>$(find go2_description)/config/robot_control_group.yaml</parameters>
        </plugin>
    </gazebo>

</robot>