<?xml version="1.0"?>

<robot xmlns:xacro="http://www.ros.org/wiki/xacro">

    <!-- Constants for robot dimensions -->
    <xacro:property name="PI" value="3.1415926535897931"/>
    <xacro:property name="stick_mass" value="0.00001"/>

    <!-- simplified collision value -->
    <xacro:property name="trunk_width" value="0.194"/> 
    <xacro:property name="trunk_length" value="0.267"/>
    <xacro:property name="trunk_height" value="0.114"/>
    <xacro:property name="hip_radius" value="0.046"/>
    <xacro:property name="hip_length" value="0.04"/>
    <xacro:property name="thigh_shoulder_radius" value="0.041"/>
    <xacro:property name="thigh_shoulder_length" value="0.032"/>
    <xacro:property name="thigh_width" value="0.0245"/>
    <xacro:property name="thigh_height" value="0.034"/>
    <xacro:property name="calf_width" value="0.016"/>
    <xacro:property name="calf_height" value="0.016"/>
    <xacro:property name="foot_radius" value="0.02"/>
    <xacro:property name="stick_radius" value="0.01"/>
    <xacro:property name="stick_length" value="0.2"/>

    <!-- kinematic value -->
    <xacro:property name="thigh_offset" value="0.0838"/>
    <xacro:property name="thigh_length" value="0.2"/>
    <xacro:property name="calf_length" value="0.2"/>

    <!-- leg offset from trunk center value -->
    <xacro:property name="leg_offset_x" value="0.1805"/>
    <xacro:property name="leg_offset_y" value="0.047"/>
    <xacro:property name="trunk_offset_z" value="0.01675"/>
    <xacro:property name="hip_offset" value="0.065"/>

    <!-- joint limits -->
    <xacro:property name="damping" value="0"/>
    <xacro:property name="friction" value="0"/>
    <xacro:property name="hip_max" value="46"/>
    <xacro:property name="hip_min" value="-46"/>
    <xacro:property name="hip_velocity_max" value="21"/>
    <xacro:property name="hip_torque_max" value="33.5"/>
    <xacro:property name="thigh_max" value="240"/>
    <xacro:property name="thigh_min" value="-60"/>
    <xacro:property name="thigh_velocity_max" value="21"/>
    <xacro:property name="thigh_torque_max" value="33.5"/>
    <xacro:property name="calf_max" value="-52.5"/>
    <xacro:property name="calf_min" value="-154.5"/>
    <xacro:property name="calf_velocity_max" value="21"/>
    <xacro:property name="calf_torque_max" value="33.5"/>

    <!-- dynamics inertial value        total 13.9kg -->
    <!-- trunk -->
    <xacro:property name="trunk_mass" value="18.057"/>
    <xacro:property name="trunk_com_x" value="-0.0107"/>
    <xacro:property name="trunk_com_y" value="-0.00135"/>
    <xacro:property name="trunk_com_z" value="0.005"/>
    <xacro:property name="trunk_ixx" value="0.12015"/>
    <xacro:property name="trunk_ixy" value="-0.00086"/>
    <xacro:property name="trunk_ixz" value="-0.00124"/>
    <xacro:property name="trunk_iyy" value="0.36210"/>
    <xacro:property name="trunk_iyz" value="-0.00004"/>
    <xacro:property name="trunk_izz" value="0.40829" />

    <!-- hip (left front) -->
    <xacro:property name="hip_mass" value="2"/>
    <xacro:property name="hip_com_x" value="-0.004726"/>
    <xacro:property name="hip_com_y" value="-0.001176"/>
    <xacro:property name="hip_com_z" value="0.000044"/>
    <xacro:property name="hip_ixx" value="0.003012"/>
    <xacro:property name="hip_ixy" value="0.000018"/>
    <xacro:property name="hip_ixz" value="0.000006"/>
    <xacro:property name="hip_iyy" value="0.005188"/>
    <xacro:property name="hip_iyz" value="-0.000004"/>
    <xacro:property name="hip_izz" value="0.003993"/>

    <!-- thigh -->
    <xacro:property name="thigh_mass" value="3.396"/>
    <xacro:property name="thigh_com_x" value="-0.007013"/>
    <xacro:property name="thigh_com_y" value="0.09103"/>
    <xacro:property name="thigh_com_z" value="-0.06380"/>
    <xacro:property name="thigh_ixx" value="0.043751"/>
    <xacro:property name="thigh_ixy" value="-0.000606"/>
    <xacro:property name="thigh_ixz" value="0.002054"/>
    <xacro:property name="thigh_iyy" value="0.043937"/>
    <xacro:property name="thigh_iyz" value="-0.005154"/>
    <xacro:property name="thigh_izz" value="0.006846"/>

    <!-- calf -->
    <xacro:property name="calf_mass" value="0.829"/>
    <xacro:property name="calf_com_x" value="-0.001448"/>
    <xacro:property name="calf_com_y" value="-0.001637"/>
    <xacro:property name="calf_com_z" value="-0.130288"/>
    <xacro:property name="calf_ixx" value="0.012593"/>
    <xacro:property name="calf_ixy" value="-0.000001"/>
    <xacro:property name="calf_ixz" value="-0.000510"/>
    <xacro:property name="calf_iyy" value="0.012842"/>
    <xacro:property name="calf_iyz" value="0.000137"/>
    <xacro:property name="calf_izz" value="0.000514"/>

    <!-- foot -->
    <xacro:property name="foot_mass" value="1.939"/>
    <xacro:property name="foot_com_x" value="0"/>
    <xacro:property name="foot_com_y" value="0.045"/>
    <xacro:property name="foot_com_z" value="0"/>
    <xacro:property name="foot_ixx" value="0.003934"/>
    <xacro:property name="foot_ixy" value="0.00000"/>
    <xacro:property name="foot_ixz" value="0.000004"/>
    <xacro:property name="foot_iyy" value="0.007113"/>
    <xacro:property name="foot_iyz" value="0.000004"/>
    <xacro:property name="foot_izz" value="0.00395"/>

</robot>
