<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">
    <xacro:property name="hip_torque_max" value="33.5"/>
    <xacro:property name="thigh_torque_max" value="33.5"/>
    <xacro:property name="calf_torque_max" value="33.5"/>

    <xacro:property name="ros_version" value="$(env ROS_VERSION)" />

    <xacro:if value="${int(ros_version) == 1}">

    <!-- ros_control plugin -->
    <gazebo>
        <plugin name="gazebo_ros_control" filename="libgazebo_ros_control.so">
            <robotNamespace>/a1_gazebo</robotNamespace>
            <robotSimType>gazebo_ros_control/DefaultRobotHWSim</robotSimType>
        </plugin>
    </gazebo>

    <!-- Show the trajectory of trunk center. -->
    <!-- <gazebo>
        <plugin name="3dplot" filename="libLinkPlot3DPlugin.so">
            <frequency>10</frequency>
            <plot>
                <link>base</link>
                <pose>0 0 0 0 0 0</pose>
                <material>Gazebo/Yellow</material>
            </plot>
        </plugin>
    </gazebo> -->

    <!-- Show the trajectory of foot. You can add another trajectory about another foot. -->
    <!-- <gazebo>
        <plugin name="3dplot" filename="libLinkPlot3DPlugin.so">
            <frequency>100</frequency>
            <plot>
                <link>FL_foot</link>
                <pose>0 0 0 0 0 0</pose>
                <material>Gazebo/Green</material>
            </plot>
        </plugin>
    </gazebo> -->

    <gazebo>
        <plugin filename="libgazebo_ros_force.so" name="gazebo_ros_force">
            <bodyName>trunk</bodyName>
            <topicName>/apply_force/trunk</topicName>
        </plugin>
    </gazebo>

    <gazebo reference="imu_link">
        <gravity>true</gravity>
        <sensor name="imu_sensor" type="imu">
            <always_on>true</always_on>
            <update_rate>1000</update_rate>
            <visualize>true</visualize>
            <topic>__default_topic__</topic>
            <plugin filename="libgazebo_ros_imu_sensor.so" name="imu_plugin">
                <topicName>trunk_imu</topicName>
                <bodyName>imu_link</bodyName>
                <updateRateHZ>1000.0</updateRateHZ>
                <gaussianNoise>0.0</gaussianNoise>
                <xyzOffset>0 0 0</xyzOffset>
                <rpyOffset>0 0 0</rpyOffset>
                <frameName>imu_link</frameName>
            </plugin>
            <pose>0 0 0 0 0 0</pose>
        </sensor>
    </gazebo>

    <!-- Foot contacts. -->
    <!-- <gazebo reference="FR_calf">
        <sensor name="FR_foot_contact" type="contact">
        <update_rate>100</update_rate>
        <plugin name="contactPlugin" filename="libunitreeFootContactPlugin.so"/>
        <contact>
            <collision>FR_calf_fixed_joint_lump__FR_foot_collision_1</collision>
        </contact>
        </sensor>
    </gazebo>
    <gazebo reference="FL_calf">
        <sensor name="FL_foot_contact" type="contact">
        <update_rate>100</update_rate>
        <plugin name="contactPlugin" filename="libunitreeFootContactPlugin.so"/>
        <contact>
            <collision>FL_calf_fixed_joint_lump__FL_foot_collision_1</collision>
        </contact>
        </sensor>
    </gazebo>
    <gazebo reference="RR_calf">
        <sensor name="RR_foot_contact" type="contact">
        <update_rate>100</update_rate>
        <plugin name="contactPlugin" filename="libunitreeFootContactPlugin.so"/>
        <contact>
            <collision>RR_calf_fixed_joint_lump__RR_foot_collision_1</collision>
        </contact>
        </sensor>
    </gazebo>
    <gazebo reference="RL_calf">
        <sensor name="RL_foot_contact" type="contact">
        <update_rate>100</update_rate>
        <plugin name="contactPlugin" filename="libunitreeFootContactPlugin.so"/>
        <contact>
            <collision>RL_calf_fixed_joint_lump__RL_foot_collision_1</collision>
        </contact>
        </sensor>
    </gazebo> -->

    <!-- Visualization of Foot contacts. -->
    <!-- <gazebo reference="FR_foot">
        <visual>
            <plugin name="drawForcePlugin" filename="libunitreeDrawForcePlugin.so">
                <topicName>FR_foot_contact</topicName>
            </plugin>
        </visual>
    </gazebo>
    <gazebo reference="FL_foot">
        <visual>
            <plugin name="drawForcePlugin" filename="libunitreeDrawForcePlugin.so">
                <topicName>FL_foot_contact</topicName>
            </plugin>
        </visual>
    </gazebo>
    <gazebo reference="RR_foot">
        <visual>
            <plugin name="drawForcePlugin" filename="libunitreeDrawForcePlugin.so">
                <topicName>RR_foot_contact</topicName>
            </plugin>
        </visual>
    </gazebo>
    <gazebo reference="RL_foot">
        <visual>
            <plugin name="drawForcePlugin" filename="libunitreeDrawForcePlugin.so">
                <topicName>RL_foot_contact</topicName>
            </plugin>
        </visual>
    </gazebo> -->

    </xacro:if>

    <xacro:if value="${int(ros_version) == 2}">

    <gazebo reference="imu_link">
      <sensor name="imu_sensor" type="imu">
      <plugin filename="libgazebo_ros_imu_sensor.so" name="imu_plugin">
          <ros>
            <namespace>/</namespace>
            <remapping>~/out:=imu</remapping>
          </ros>
          <initial_orientation_as_reference>false</initial_orientation_as_reference>
        </plugin>
        <always_on>true</always_on>
        <update_rate>100</update_rate>
        <visualize>true</visualize>
        <imu>
          <angular_velocity>
            <x>
              <noise type="gaussian">
                <mean>0.0</mean>
                <stddev>2e-4</stddev>
                <bias_mean>0.0000075</bias_mean>
                <bias_stddev>0.0000008</bias_stddev>
              </noise>
            </x>
            <y>
              <noise type="gaussian">
                <mean>0.0</mean>
                <stddev>2e-4</stddev>
                <bias_mean>0.0000075</bias_mean>
                <bias_stddev>0.0000008</bias_stddev>
              </noise>
            </y>
            <z>
              <noise type="gaussian">
                <mean>0.0</mean>
                <stddev>2e-4</stddev>
                <bias_mean>0.0000075</bias_mean>
                <bias_stddev>0.0000008</bias_stddev>
              </noise>
            </z>
          </angular_velocity>
          <linear_acceleration>
            <x>
              <noise type="gaussian">
                <mean>0.0</mean>
                <stddev>1.7e-2</stddev>
                <bias_mean>0.1</bias_mean>
                <bias_stddev>0.001</bias_stddev>
              </noise>
            </x>
            <y>
              <noise type="gaussian">
                <mean>0.0</mean>
                <stddev>1.7e-2</stddev>
                <bias_mean>0.1</bias_mean>
                <bias_stddev>0.001</bias_stddev>
              </noise>
            </y>
            <z>
              <noise type="gaussian">
                <mean>0.0</mean>
                <stddev>1.7e-2</stddev>
                <bias_mean>0.1</bias_mean>
                <bias_stddev>0.001</bias_stddev>
              </noise>
            </z>
          </linear_acceleration>
        </imu>
      </sensor>
    </gazebo>

    <ros2_control name="GazeboSystem" type="system">
        <hardware>
            <plugin>gazebo_ros2_control/GazeboSystem</plugin>
        </hardware>

        <xacro:macro name="joint_interface" params="joint_name torque_limit">
            <joint name="${joint_name}">
            <command_interface name="effort">
                <param name="min">-${torque_limit}</param>
                <param name="max">${torque_limit}</param>
            </command_interface>
            <state_interface name="position"/>
            <state_interface name="velocity"/>
            <state_interface name="effort"/>
            </joint>
        </xacro:macro>

        <xacro:macro name="leg_joints" params="prefix">
            <xacro:joint_interface joint_name="${prefix}_hip_joint" torque_limit="${hip_torque_max}"/>
            <xacro:joint_interface joint_name="${prefix}_thigh_joint" torque_limit="${thigh_torque_max}"/>
            <xacro:joint_interface joint_name="${prefix}_calf_joint" torque_limit="${calf_torque_max}"/>
        </xacro:macro>

        <xacro:leg_joints prefix="FR"/>
        <xacro:leg_joints prefix="FL"/>
        <xacro:leg_joints prefix="RR"/>
        <xacro:leg_joints prefix="RL"/>

    </ros2_control>

    <gazebo>
        <plugin name="gazebo_ros2_control" filename="libgazebo_ros2_control.so">
            <parameters>$(find a1_description)/config/robot_control_ros2.yaml</parameters>
        </plugin>
    </gazebo>

    </xacro:if>

    <gazebo reference="base">
        <material>Gazebo/Green</material>
        <turnGravityOff>false</turnGravityOff>
    </gazebo>

    <gazebo reference="trunk">
        <mu1>0.2</mu1>
        <mu2>0.2</mu2>
        <kp  value="1000000.0"/>
        <kd  value="1.0"/>
    </gazebo>

    <gazebo reference="stick_link">
        <mu1>0.2</mu1>
        <mu2>0.2</mu2>
        <material>Gazebo/White</material>
    </gazebo>

    <gazebo reference="imu_link">
        <mu1>0.2</mu1>
        <mu2>0.2</mu2>
        <material>Gazebo/Red</material>
    </gazebo>

    <!-- FL leg -->
    <gazebo reference="FL_hip">
        <mu1>0.2</mu1>
        <mu2>0.2</mu2>
        <material>Gazebo/DarkGrey</material>
    </gazebo>
    <gazebo reference="FL_thigh">
        <mu1>0.2</mu1>
        <mu2>0.2</mu2>
        <self_collide>1</self_collide>
        <material>Gazebo/DarkGrey</material>
        <kp  value="1000000.0"/>
        <kd  value="1.0"/>
    </gazebo>
    <gazebo reference="FL_calf">
        <mu1>0.2</mu1>
        <mu2>0.2</mu2>
        <self_collide>1</self_collide>
    </gazebo>
    <gazebo reference="FL_foot">
        <mu1>0.6</mu1>
        <mu2>0.6</mu2>
        <self_collide>1</self_collide>
        <material>Gazebo/DarkGrey</material>
        <kp  value="1000000.0"/>
        <kd  value="1.0"/>
    </gazebo>

    <!-- FR leg -->
    <gazebo reference="FR_hip">
        <mu1>0.2</mu1>
        <mu2>0.2</mu2>
        <material>Gazebo/DarkGrey</material>
    </gazebo>
    <gazebo reference="FR_thigh">
        <mu1>0.2</mu1>
        <mu2>0.2</mu2>
        <self_collide>1</self_collide>
        <material>Gazebo/DarkGrey</material>
        <kp  value="1000000.0"/>
        <kd  value="1.0"/>
    </gazebo>
    <gazebo reference="FR_calf">
        <mu1>0.2</mu1>
        <mu2>0.2</mu2>
        <self_collide>1</self_collide>
    </gazebo>
    <gazebo reference="FR_foot">
        <mu1>0.6</mu1>
        <mu2>0.6</mu2>
        <self_collide>1</self_collide>
        <material>Gazebo/DarkGrey</material>
        <kp  value="1000000.0"/>
        <kd  value="1.0"/>
    </gazebo>

    <!-- RL leg -->
    <gazebo reference="RL_hip">
        <mu1>0.2</mu1>
        <mu2>0.2</mu2>
        <material>Gazebo/DarkGrey</material>
    </gazebo>
    <gazebo reference="RL_thigh">
        <mu1>0.2</mu1>
        <mu2>0.2</mu2>
        <self_collide>1</self_collide>
        <material>Gazebo/DarkGrey</material>
        <kp  value="1000000.0"/>
        <kd  value="1.0"/>
    </gazebo>
    <gazebo reference="RL_calf">
        <mu1>0.2</mu1>
        <mu2>0.2</mu2>
        <self_collide>1</self_collide>
    </gazebo>
    <gazebo reference="RL_foot">
        <mu1>0.6</mu1>
        <mu2>0.6</mu2>
        <self_collide>1</self_collide>
        <material>Gazebo/DarkGrey</material>
        <kp  value="1000000.0"/>
        <kd  value="1.0"/>
    </gazebo>

    <!-- RR leg -->
    <gazebo reference="RR_hip">
        <mu1>0.2</mu1>
        <mu2>0.2</mu2>
        <material>Gazebo/DarkGrey</material>
    </gazebo>
    <gazebo reference="RR_thigh">
        <mu1>0.2</mu1>
        <mu2>0.2</mu2>
        <self_collide>1</self_collide>
        <material>Gazebo/DarkGrey</material>
        <kp  value="1000000.0"/>
        <kd  value="1.0"/>
    </gazebo>
    <gazebo reference="RR_calf">
        <mu1>0.2</mu1>
        <mu2>0.2</mu2>
        <self_collide>1</self_collide>
    </gazebo>
    <gazebo reference="RR_foot">
        <mu1>0.6</mu1>
        <mu2>0.6</mu2>
        <self_collide>1</self_collide>
        <material>Gazebo/DarkGrey</material>
        <kp  value="1000000.0"/>
        <kd  value="1.0"/>
    </gazebo>

</robot>
